<div class="container">

    <form action="/issues/<%= @issues.id %>/edit" role="form" style="width:400px; margin: 0 auto;" align ="center"  method="post" id="update_form">
       
      
      
        
    <%= hidden_field_tag"authenticity_token", form_authenticity_token %>
      
      <h3>Issue ID: <%= @issues.id %> </h3> <br/>
        
        <div class="required-field-block">
          
          
          <div class="text" align ="center"><b>Issues Title :</b></div>
            
          <input type="text" name="title"
           class="form-control" placeholder="Title Description" value="<%= @issues.title %>"/>
    
        </div>
        <br>
        <br>
       

          <div class="required-field-block">
            
            <div class="text" align ="center"><b>Issues Description :</b></div>
            <textarea rows="3" class="form-control" name="description" placeholder="issues Description" value="<%= @issues.title %>"></textarea>
            
            
            
        </div>
        <br>
        <br>
      
         <div align ="center">
           
           <a href="#" id="btnUpdate" class="btn btn-success">Update</a>
           <a href="/issues" class="btn btn-danger">Cancel</a>
    
      
      </div>
    
    </form>
</div>

<% content_for :js do %>
<script type="new/javascript">
$('#btnUpdate').click(function(){
    $('#update_form').submit();
});
</script>

<% end %>


<!--
<h1>Update Issue: <%= @issues.id %></h1>

<a class="btn btn-warning" href="/issues/" role="button">Back To Issue Lists</a>
<br></br>

<table class="table table-striped" border="2">
<tr>
  
  
  <div>
<form action="/issues/<%= @issues.id %>/edit" method="post" id="update_form">
    
    <%= hidden_field_tag"authenticity_token", form_authenticity_token %>
   
  <tr>
  <td>
  
  <div class="form-group">
    <label class="col-md-4" align="center">Issue Title</label>
  
    <label class="col-md-4" align="center">Issue Description</label>
    
    </div>
  </td>
  
  
    
  <td>
      <div class="col-md-8">
    <input type="text" name="title"
           class="form-control" value="<%= @issues.title %>"/>
      
    <textarea class="form-control" name="description"
           row="100" value="<%= @issues.description %>"></textarea>
        </div>
    
    </td>
  
  
  </tr>
  
    <tr>
  
  <div class="action" align="center">
    <a href="#" id="btnUpdate" class="btn btn-success">Update</a>
    <a href="/issues" class="btn btn-danger">Cancel</a>
    </div>
  </tr>

    
</form>
</div>
  
  
  
  </tr>

</table>
<% content_for :js do %>
<script type="text/javascript">
$('#btnUpdate').click(function(){
    $('#update_form').submit();
});
</script>
<% end %>


-->

