<h1>Details for Ticket: <%= @issues.title %></h1>

<table class="table table-striped" border="2">

  <tr>

  <td class="col-md-4 col-md-offset-2">
    <label class="col-md-2">Employee ID</label>
    <td class="col-md-6"><%= @issues.id %></td>
   </td>
  </tr>
  
    <tr>
<td class="col-md-4 col-md-offset-2">
    <label class="col-md-2">Title</label>
  <td class="col-md-6"><%= @issues.title %></td>
   </td>
  </tr>
  
  
 <tr>
    <td class="col-md-4 col-md-offset-2">
    <label class="col-md-2">Description</label>
      <td class="col-md-6"><%= @issues.description %></td>
  </td>
  </tr>

       <tr>
    <td class="col-md-4 col-md-offset-2">
    <label class="col-md-2">Comment</label>
      <td class="row-md-6"><textarea class="form-control" row="10" class="form-control" ></textarea><%= @issues.remark %></td>
 </td> <br>
</tr>
</table>
  
<div align="center">
  <a href="#" class="btn btn-success">Reply</a>
   <a href="#" class="btn btn-danger">Resolved</a>
</div>

  
  



