<h1>List of leave applied</h1>

<%= message = flash.each.map do |msg| msg[1] end
raw message.join('<br>')
%>

<span class="pull-right">
    <a class="btn btn-warning"
       href="/leaves/new">
    Apply
    </a>
</span>

<table class="table table-striped" border="2">
<thead>
    <tr>
        <th>ID</th>
        <th>Employee Id</th>
        <th>Start date</th>
        <th>End Date</th>
        <th>Remark</th>
        <th>Approve By</th>
        <th>Approve Status</th>
        <th>Leave Type</th>
        <th>Action</th>
    </tr>
</thead>
    
<tbody>
    <!-- we'll use .each to iterate each leave -->
    <% @leave.each do |leafe| %>
    <tr>
        <td><%= leafe.id %></td>
        <td><%= leafe.employee_id %></td>
        <td><%= leafe.startdate %></td>
        <td><%= leafe.enddate %></td>
        <td><%= leafe.remark %></td>
        <td><%= leafe.approveby_id %></td>
        <td><%= leafe.approvalstat_id %></td>
        <td><%= leafe.leavetype_id %></td>
        
        <td>
        <a class="btn btn-info" href="/leaves/<%=leafe.id%>">
                View
        </a>
            
        <a class="btn btn-success" href="/leaves/<%=leafe.id%>/edit">
                Edit
        </a>
            
          <%= link_to 'DELETE', leafe,
                method: :delete,
                class: "btn btn-danger",
                data: {confirm: 'Are you sure?'} %>
            
        </td>
    </tr>
    
    <% end %>
    
    
</tbody>
</table>