<style type="text/css">
  .nav-button {
    line-height: 2em;
  }
  .btn-group {
    padding: 0 !important; 
  }
  .btn-margin {
    margin-left: 2px;
    margin-right: 2px;
    width: 23%;
  }
  
  #navr {
    line-height:30px;
    height:300px;
    width:40%;
    float:right;
    padding:5px;
  }
  
    #navl {
    line-height:30px;
    height:300px;
    width:60%;
    float:left;
    padding:5px;
  }
  
  .body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
</style>

<body id="body">
<div class="row">
      <section class="panel">
          <div class="panel-body">
            <div class="col-lg-12">
              <div class="demo-button text-center col-lg-10 col-lg-offset-1">
                  <!-- Standard button -->
                  <button class="btn btn-danger nav-button col-md-3 btn-margin">HOME</button>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <button type="button" class="btn btn-primary nav-button col-md-3 btn-margin">ABOUT</button>
                  <!-- Indicates a successful or positive action -->
                  
                <div class="btn-group show-on-hover col-md-3 btn-margin">
                  <button type="button" class="btn btn-success dropdown-toggle col-md-12  nav-button" data-toggle="dropdown">TEAM
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                      <li>
                          <a href="javascript:;">Finance Management</a>
                      </li>
                      <li>
                          <a href="javascript:;">Human Resource Management</a>
                      </li>
                      <li>
                          <a href="javascript:;">Task Management</a>
                      </li>
                      <li class="divider"></li>
                      
                  </ul>
              </div>
                
              <button class="btn btn-danger nav-button col-md-3 btn-margin">CONTACT US</button>
              </div>
              </div>
          </div>
      </section>
  
  <div class="container">

        <div id="navl">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="<%= asset_path('img/1.jpg') %>" alt="">
                               
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="<%= asset_path('img/3.jpg') %>" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="<%= asset_path('img/4.jpg') %>" alt="">
                            </div>
                          
                          <div class="item">
                                <img class="img-responsive img-full" src="<%= asset_path('img/5.jpg') %>" alt="">
                            </div>
                          
                          <div class="item">
                                <img class="img-responsive img-full" src="<%= asset_path('img/6.jpg') %>" alt="">
                            </div>
                          
                          <div class="item">
                                <img class="img-responsive img-full" src="<%= asset_path('img/7.jpg') %>" alt="">
                            </div>
                          
                          <div class="item">
                                <img class="img-responsive img-full" src="<%= asset_path('img/8.jpg') %>" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">i-Office Management System</h1>
                    <hr class="tagline-divider">
                  
                  
                    
                </div>
            </div>
        </div>
  <div id="navr">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <script type="text/javascript" src="http://www.worldtimeserver.com/clocks/embed.js"></script>
          <script type="text/javascript" language="JavaScript">objMY=new  Object;objMY.wtsclock="wtsclock001.swf";objMY.color="32CD32";objMY.wtsid="MY";objMY.width=200;objMY.height=200;objMY.wmode="transparent";showClock(objMY);
          </script>
        </td>
      </tr>

      <tr>
        <td align="center"><h2>Kuala Lumpur</h2></td>
      </tr>
      
      <tr>
        <td>
            <section class="panel panel-color weather-widget">
                <div class="panel-body no-padding">
                    <div class="no-margin bg-color">
                        <div class="bg-white">

                            <canvas id="icon2" width="60" height="60"></canvas>

                            <ul class="mg-t-sm">
                                <li>
                                    <canvas id="icon3" width="18" height="18"></canvas>
                                    <span>Sunny, 32&#176; C</span>
                                </li>
                                <li>
                                    <canvas id="icon4" width="18" height="18"></canvas>
                                    <span>3 Mp/h, NW</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
          </td>
      </tr>
    </table>  
  </div>
</div>

  
</div>
</body>











