<h1><center>i-Office </center></h1>
<br/><h2><center>Salary Statement : <%= @employee.name %></h2></center>

<%= 
messages = flash.each.map do |msg| msg[1] end
raw messages.join('<br>')
%>

<hr/>
<center>
<table class="table table-striped" border="2" width = "10">
<tbody>
    
<tr>
    <td>Name</td> <td><%= @employee.name %></td>
</tr>      
    
<tr>
    <td>Employee Number</td> <td><%= @employee.employeenum %></td>
</tr>  
    
<tr>
    <td>Mobile Phone</td> <td><%= @employee.phonenum %></td>
</tr>
    
<tr>
    <td>Address</td> <td><%= @employee.address %></td>
</tr>
    
<tr>
    <td>Email</td> <td><%= @employee.email %></td>
</tr>
      
    
    </tbody>  
</table>
<br/><br/>

<span>
    <a class = "btn btn-warning"
       href = "/salaries/index.pdf" >
    PRINT STATEMENT PDF
    </a>
</span>
    </center>
