<h1>Approval Status List</h1>
<%= 
message = flash.each.map do |msg| msg[1] end 
raw message.join('<br>')

%>
<span class="pull-right">
    <a class="btn btn-warning"
       href="/approvalstats/new">
        Add Approval Status
    </a>
</span>


<table class="table table-bordered" border="2" >
<thread>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created Date</th>
        <th>Updated Date</th>
        <th>Action</th>
    </tr>
<thread>
<tbody>
    <% @approvalstat.each do |approvalstat| %>
    <tr>
        <td> <%= approvalstat.id %></td>
        <td> <%= approvalstat.name %></td>
        <td> <%= approvalstat.created_at %></td>
        <td> <%= approvalstat.updated_at %></td>
        <td>
            <a class="btn btn-success" href="/approvalstats/<%= approvalstat.id %>/edit">
            Edit
            </a>
            <%= link_to 'Remove', approvalstat,
                method: :delete, 
                class: "btn btn-danger", 
                data: {confirm:'Are You Sure?'}
    %>
            
        </td>
    </tr>
    <% end %>
    
    </tbody>
    





</table>
