<!doctype html>
<html class="no-js" lang="">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="Flat, Clean, Responsive, admin template built with bootstrap 3">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <!-- /meta -->

    <title>i - O f f i c e</title>

    <%= stylesheet_link_tag "application" %>
    <%= yield :css %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- load modernizer -->
    <%= javascript_include_tag "modernizr" %>
</head>

<!-- body -->

<body>
    <div class="app boxed box-shadow">
        <!-- top header -->
        <header class="header header-fixed navbar">

            <div class="brand">
                <a href="#" class="fa fa-bars off-left visible-xs" data-toggle="off-canvas" data-move="ltr"></a>

                <a href="#" class="navbar-brand text-white">
                    <span class="heading-font">
                        <b>Ruby on Rail</b> 
                    </span>
                </a>
            </div>

            <form class="navbar-form navbar-left hidden-xs" role="search">
                <div class="form-group">
                    
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right off-right">
                <li class="hidden-xs">
                    <a href="javascript:;">
                        Login
                    </a>
                </li>

                
            </ul>
        </header>
        <!-- /top header -->

        <section class="layout">

            <!-- main content -->
            <section class="main-content">

                <!-- content wrapper -->
                <div class="content-wrap no-padding">
                    <%= yield %>
                </div>
                <!-- /content wrapper -->
            </section>
            <!-- /main content -->
        </section>

    </div>

    <%= javascript_include_tag "application" %>
    <%= yield :js %>

</body>
<!-- /body -->

</html>
