<!doctype html>
<html class="no-js" lang="">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="Flat, Clean, Responsive, admin template built with bootstrap 3">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tag %>
    <!-- /meta -->

    <title>i-Office | Ruby on Rails</title>

    <%= stylesheet_link_tag "administrator" %>
    <%= yield :css %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- load modernizer -->
    <%= javascript_include_tag "modernizr" %>
</head>

<!-- body -->
<body>

    <div class="app" data-sidebar="locked">
        <!-- top header -->
        <header class="header header-fixed navbar">

            <div class="brand">

                <a href="#" class="navbar-brand">
                    <span class="heading-font">
                        NETCENTRIC<b> ADMIN</b> 
                    </span>
                </a>
            </div>
          <div class="brand" align="right">

                <a href="#" class="navbar-brand">
                    <span class="heading-font">
                        <b>LOGIN</b> 
                    </span>
                </a>
            </div>
        </header>
        <!-- /top header -->

        <section class="layout">

            <!-- chat panel -->
            
            <!-- /chat panel -->

            <!-- main content -->
            <section class="main-content">

                <!-- content wrapper -->
                <div class="content-wrap">
                <%= yield %>
                </div>
                <!-- /content wrapper -->
            </section>
            <!-- /main content -->

        </section>

    </div>

  
    <%= javascript_include_tag "admin" %>
    <%= yield :js %>

</body>
<!-- /body -->

</html>
